.App {
  text-align: center;
  background-image: url('https://imransyd.github.io/shoppers/my-app/images/emre-karatas-256980%20(1).jpg');
    background-repeat: no-repeat;        
    position: relative;        
    width: 85%;            
    height: 610px;       
    margin-left: auto;      
    margin-right: auto
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}




.images {
    height: 200px;
    width: 200px;
}

.basket{
  position: absolute;
  right:0;
  top:240px;
  height: 105vh;
  width: 300px;
  border: 1px solid black;
  background-color: aliceblue;
}
